<div class="container" data-ng-controller="UserCtrl"  data-ng-hide="appConfig.token!=''">
    <div class="row">
        <div class="col-md-6 col-md-offset-2" >
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="text-center">
                    <a class="btn btn-sm btn-primary btn-block" onclick="window.location.href = '#/login'">LOGIN</a>
                    </h5>
                    <form name="signUpForm1"  class="form form-signup" role="form" novalidate>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" name="username" data-ng-model="user.username" class="form-control" ng-minlength="4" ng-maxlength="10"  placeholder="Username" required="" />
                                <p ng-show="signUpForm1.username.$error.required" class="help-block">required.</p>
								<p ng-show="!signUpForm1.username.$pristine && signUpForm1.username.$invalid" class="help-block">invalid Username</p>
								<p ng-show="signUpForm1.username.$error.minlength" class="help-block">username is too short.</p>
								<p ng-show="signUpForm1.username.$error.maxlength" class="help-block">username is too long.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                
                                <input type="text" name="preventAutoPass" id="preventAutoPass" style="display:none" />
                               
                                <input type="password" name="password" data-ng-model="user.passwordHash"  ng-minlength="4" ng-maxlength="10" class="form-control" ng-minlength="1" placeholder="Password" autocomplete="off"/>
                                        <p ng-show="signUpForm1.password.$error.required" class="help-block">required.</p>
								<p ng-show="!signUpForm1.password.$pristine && signUpForm1.username.$invalid" class="help-block">invalid password</p>
								<p ng-show="signUpForm1.password.$error.minlength" class="help-block">password is too short.</p>
								<p ng-show="signUpForm1.password.$error.maxlength" class="help-block">password is too long.</p>
                            </div>
                        </div>
                          <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                
                                <input type="text" name="preventAutoPass" id="preventAutoPass" style="display:none" />
                               
                                <input type="password" name="passwordConfirm" data-ng-model="user.passwordConfirm"   password-match="user.passwordHash" class="form-control" ng-minlength="4" ng-maxlength="10" placeholder="Confirm Password" autocomplete="off"/>
                                 <p ng-show="signUpForm1.passwordConfirm.$error.required" class="help-block">required.</p>
								<p ng-show="!signUpForm1.passwordConfirm.$pristine && signUpForm1.username.$invalid" class="help-block">invalid password</p>
								<p ng-show="signUpForm1.passwordConfirm.$error.minlength" class="help-block">password is too short.</p>
								<p ng-show="signUpForm1.passwordConfirm.$error.maxlength" class="help-block">password is too long.</p>
								<p ng-show="signUpForm1.passwordConfirm.$error.unique" class="help-block">password does not match.</p>
                            </div>
                        </div>
                        <input class="btn btn-sm btn-primary btn-block"  ng-disabled="signUpForm1.$invalid" ng-enabled="!signUpForm1.$invalid" type="submit" value="Sign up" data-ng-click="signup()"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>