
<div data-ng-controller="UploadCtrl">
    <h1>Upload Edit</h1>
    <div data-ng-show="errors.showErrors" class="red">
        <p data-ng-show="errors.showServerError">"Can not connect to the server, try later"</p>
    </div>
     <form name="uploadForm"  enctype="multipart/form-data"  novalidate>
    <div>
    <div>
    <div>
    <div>
   
        <p></p>
        <a class="btn btn-primary btn-primary" onclick="window.location.href = '#/upload/list'"><span class="glyphicon glyphicon-align-justify"></span>  List</a>
        <a class="btn btn-primary btn-success" data-ng-hide="upload.id"  ng-disabled="uploadForm.$invalid" ng-enabled="!uploadForm.$invalid" data-ng-click="manualSaveUpload()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>
        <a class="btn btn-primary btn-success" data-ng-show="upload.id"  ng-disabled="uploadForm.$invalid" ng-enabled="!uploadForm.$invalid" data-ng-click="manualSaveUpload()"><span class="glyphicon glyphicon-floppy-disk"></span> Update</a>
        <a class="btn btn-primary btn-danger" data-ng-show="upload.id"  data-ng-click="confirmDeleteUpload()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
        <p></p>
    </div>
    <div>
    <div>
    <div>
    
    
    <div>
        
        <div class="fieldcontain">
            <label for="attachment">
                attachment
            </label>
            <input type="file" id="attachment" data-ng-model='upload.attachment'  name="attachment" />
        </div>
        
        
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </form>
</div>