.loading-container {
    position: relative;
}
.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}
.loading-container .loading:before {
    background-color: white;
    opacity: 0.5;
} 
.font-white {
	color: #FFF;
}
body {
    margin: 0 5% 0 5% !important;
    max-width: 100% !important;
}

#Content {
		padding-top: 70px;
}
#h1Header {
    font-size: 2.25em !important;
    text-align: center !important;
    padding: 10px !important;
}
#h2Header {
	display: inline-block;
	*zoom: 1;
	*display: inline; 
    font-size: 1.8em !important;
    text-align: center !important;
	color: #FFF;
	padding-left: 0.50em;
}
.nav {
    min-height: 30px !important;
}
.clear{
     clear: both;
}
#arrestedHeader{
	padding-top: 4em;
}
.footer{
    background: #C8CCBE !important;
}
.red{
    color: red;
}
a:link, a:visited, a:hover {
    color: #000000 !important;
}
.controller a:link, .controller a:visited,.controller a:hover {
    color:#5bc0de !important;
}
.left-inner-addon {
	position: relative;
}
.left-inner-addon input {
	padding-left: 30px;
}
.left-inner-addon i {
	position: absolute;
	padding: 10px 12px;
	pointer-events: none;
}
.right-inner-addon {
	position: relative;
}
.right-inner-addon input {
	padding-right: 30px;    
}
.right-inner-addon i {
	position: absolute;
	right: 0px;
	padding: 10px 12px;
	pointer-events: none;
}
fieldset,
.property-list {
	margin: 0.6em 1.25em 0 1.25em;
	padding: 0.3em 1.8em 1.25em;
	position: relative;
	zoom: 1;
	border: none;
}
.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}
.fieldcontain {
	margin-top: 1em;
}
.fieldcontain label,
.fieldcontain .property-label {
	color: #666666;
	text-align: right;
	width: 25%;
}
.fieldcontain .property-label {
	float: left;
}
.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
}
.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}
.define-spinner {
	display: inline-block;
	*zoom: 1;
	*display: inline; 
	width: 32px; 
	padding: 0.35em;
}
.selected1, .selected1 a {
  color: #FFF;

}
.homeLogo {
	display: inline-block;
	*zoom: 1;
	*display: inline; 
	margin-top: 0.30em;
	padding-left: 0.30em;
}
.ng-pristine { 	border: 1px solid green; }
.ng-dirty { border: 1px solid orange; }
.ng-invalid.ng-dirty { border: 1px solid red; }
.ng-valid.ng-dirty { border: 1px solid green; }
input.ng-invalid-minlength.ng-dirty { border: 1px solid blue; }
input.ng-invalid-maxlength.ng-dirty { border: 1px solid yellow; }
input.ng-invalid { border: 1px solid red; }
input.ng-valid { border: 1px solid green;}
.navbar .container {width:auto;}