
<div data-ng-controller="BooksCtrl">
    <h1>Books Edit</h1>
    <div data-ng-show="errors.showErrors" class="red">
        <p data-ng-show="errors.showServerError">"Can not connect to the server, try later"</p>
    </div>
    <div>
    <div>
    <div>
    <div>
        <p></p>
        <a class="btn btn-primary btn-primary" onclick="window.location.href = '#/books/list'"><span class="glyphicon glyphicon-align-justify"></span>  List</a>
        <a class="btn btn-primary btn-success" data-ng-hide="books.id" data-ng-click="manualSaveBooks()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>
        <a class="btn btn-primary btn-success" data-ng-show="books.id" data-ng-click="manualSaveBooks()"><span class="glyphicon glyphicon-floppy-disk"></span> Update</a>
        <a class="btn btn-primary btn-danger" data-ng-show="books.id"  data-ng-click="confirmDeleteBooks()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
        <p></p>
    </div>
    <div>
    <div>
    <div>
    
    
    <div>
        
        <div class="fieldcontain">
            <label for="attachment">
                attachment
            </label>
            <input type="file" id="attachment" data-ng-model='books.attachment'  name="attachment" />
        </div>
        
        <div class="fieldcontain">
            <label for="author">
                author
            </label>
            <select id="author" name="author.id" data-ng-model='books.author' data-ng-controller="AuthorsCtrl" data-ng-init="getAllAuthors()" ng-options="c.id for c in authorss" required="" class="many-to-one"/>
        </div>
        
        <div class="fieldcontain">
            <label for="content">
                content
            </label>
            <input type="text" name="content" required="" data-ng-model='books.content' />
        </div>
        
        <div class="fieldcontain">
            <label for="displayOnMenu">
                displayOnMenu
            </label>
            <input type="checkbox"  name="displayOnMenu" data-ng-model='books.displayOnMenu' />
        </div>
        
        <div class="fieldcontain">
            <label for="name">
                name
            </label>
            <input type="text" name="name" required="" data-ng-model='books.name' />
        </div>
        
        <div class="fieldcontain">
            <label for="orderby">
                orderby
            </label>
            <input name="orderby" type="number" data-ng-model='books.orderby'  required=""/>
        </div>
        
        <div class="fieldcontain">
            <label for="pricerange">
                pricerange
            </label>
            <input name="pricerange" type="number" data-ng-model='books.pricerange'  required=""/>
        </div>
        
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>